COUCHDB_HOST=couchdb
COUCHDB_USER=provenance
COUCHDB_PASSWORD=provenance
COUCHDB_DB=provenance

RABBITMQ_HOST=localhost
RABBITMQ_USER=provenance
RABBITMQ_PASSWORD=provenance
RABBITMQ_EXCHANGE=provenance

